/* estilos generales */


/* navbar */
.navbar-brand {
    color: #fff;
    font-family: "Sanchez",
        serif;
    font-size: 1.6rem;
}

.navbar-brand:hover {
    color: rgba(255, 255, 255, 0.603);
}

.navbar {
    background-color: #1A2A40;
    font-family: "Roboto",
        sans-serif;
    
}


/* .navbar-nav {
    padding-right: 1rem;
} */

.botonCierre {
    background-color: inherit;
    border: none;
}

.iconoCierre {
    color: #fff;
    font-size: 1.3rem;
}

/* @media screen and (max-width: 420px) {
    .navbar-brand img {
        width: 5.5rem;
        margin-left: 0.5rem;
    } 
} */

@media screen and (max-width: 991px) {
    .desaparecer {
        display: none !important;
    }
}

.nav-link {
    color: #fff;
    font-size: 1.1rem;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.603);
}

.nav-link:visited {
    color: #fff;
}





/*offcanvas*/

.offcanvas {
    background-color: #1A2A40;
}

.bi-three-dots-vertical {
    color: #fff;
}

.nav-boton {
    color: #fff;
    border: none;
}

.nav-boton i {
    font-size: 2.3rem;
}



/* hero */
.hero {
    background-image: url('../assets/fondoMontanas.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
}

.hero-container {
    margin: auto auto;
    font-family: "Sanchez",
        serif;
}

.hero__title {
    color: #fff;
    font-size: 5.4rem;
    margin-bottom: 0;
}

.hero p {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 200;
}

/* carousel */



.carousel-inner {
    margin: 0 auto;
    padding: 0 auto;
    width: 80vw;

}


.carousel-container {
    background: #1A2A40;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #1A2A40, #96A9B6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1A2A40, #96A9B6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     padding-bottom: 5rem;
     padding-top: 5rem;
     
}

.carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
}


.carousel-control-next-icon {
    z-index: 99;
}

.texto-carousel {
    background: #48738E;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #1C2F45, #48738E);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #48738E, #1C2F45);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 4.5rem;
    position: absolute;
    left: 1rem;
    width: 22%;

    padding-top: 11.5rem;
    padding-left: 2rem;
    height: 80vh;
}

.texto-carousel h4 {
    color: #fff;
    font-size: 1rem;
    font-weight: 200;
    font-family: "Sanchez",
        serif;
    white-space: nowrap;
}

.texto-carousel h3 {
    color: #fff;
    font-size: 6rem;
    white-space: nowrap;
}

.video-carousel {
    margin: 0;
    padding: 0;
    height: 80vh;
    width: 100vw !important;
    min-width: 500px;
    overflow: hidden !important;
}

.video-carousel video {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.div-video {
    position: absolute;
    right: 0;
}

@media (min-width: 200px) and (max-width: 546px) {
    .hero {
        height: 90vh;
    }

    .carousel-inner {
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .video-carousel {
        margin: 0 auto;
        padding: 0 auto;
        background-size: cover;
        height: 100%;
        min-width: none;
    }

    .video-carousel video {
        width: 120vw;
        overflow: hidden;
    }

    .texto-carousel {
        padding-top: 2rem;
        padding-left: 1rem;
        height: 98%;
        left: 0rem;
        width: 22%;
        margin: auto 0;

    }

    .texto-carousel h4 {
        font-size: 1rem;
    }

    .texto-carousel h3 {
        font-size: 4rem;
    }



    /* .video-carousel video {
        margin: 0;
        padding: 0;
        height: 80vh;
    } */
}

@media (min-width: 546px) and (max-width: 700px) {

    .video-carousel {
        margin: 0 auto;
        padding: 0 auto;
        height: 50vh;
    }

    .texto-carousel {
        padding-top: 6rem;
        padding-left: 1rem;
        height: 80vh;
    }

    .texto-carousel h4 {
        font-size: 1rem;
    }

    .texto-carousel h3 {
        font-size: 4rem;
    }


}


@media (min-width: 700px) and (max-width: 822px) {

    .video-carousel {
        margin: 0 auto;
        padding: 0 auto;
        height: 60vh;
    }

    .texto-carousel {
        padding-top: 8rem;
    }

    .texto-carousel h4 {
        font-size: 1rem;
    }

    .texto-carousel h3 {
        font-size: 5rem;
    }

}

@media (min-width: 822px) and (max-width: 855px) {

    .video-carousel {
        margin: 0 auto;
        padding: 0 auto;
        height: 60vh;
    }

    .texto-carousel {
        padding-top: 7rem;
    }

    .texto-carousel h3 {
        font-size: 5rem;
    }


    .texto-carousel h4 {
        font-size: 1rem;
    }
}

/* 
@media screen and (max-width: 855px) {
    .texto-carousel {
        left: 0rem;
    }

    .texto-carousel h3 {
        font-size: 6rem;
    }
} */

/* banner */
.banner {
    background-color: #45718C;
    color: #fff;   
}

.banner h3 {
     font-weight: 300;
     font-size: 1.8rem;
}




/* footer */
footer {
    background-color: #1A2A40;
    color: #fff;
    padding-top: 5rem;
}

.footer-container {
    background-color: #45718C;
}

.footer-title {
    padding-left: 2rem;
}

footer li {
    list-style: none;
    font-size: 1rem;
    font-weight: 300;
    background-color: #1A2A40;
    font-family: "Roboto",
        sans-serif;
    padding: .8rem 3.5rem;
    margin: 1rem;
}

.footer-list {
    padding: 1rem 0;
}

.footer-list li span {
    padding-right: 2px;
}

.footer-final h5 {
    font-size: 1rem;
    font-weight: 100;
}

hr {
    width: 2vw;
    height: 3px;
    background-color: #fff;
    opacity: 100;
    margin-left: 2rem;
    margin-top: 2rem;
}

.div-footer {
    height: 70vh;
    min-width: 500px;
}

.div-footer img {
    height: 100%;
    width: 100%;
}

.footer-container-final{
    padding: 3rem 0 .6rem;
}

@media screen and (max-width: 999px) {
    .div-footer {

        text-align: center;
    }

    hr {
        margin: 2rem auto 1.5rem;
        
    }
}

@media screen and (max-width: 500px) {
    .div-footer {
        min-width: 100%;

    }

    footer li {
        font-size: 1.1rem;
        padding: .5rem 2rem;
        margin-bottom: 1.5rem;
    }

    .footer-title {
        padding: 1rem;
    }

    .footer-list {
        padding: 1rem;
    }

    .footer-title {
        padding: 1rem;
        text-align: center;
    }


}



/* pagina permiso precario */
.documento-pdf-container {
    background-color: #000;
}

.documento-pdf {
    width: 100%;
    height: 700px;
}

/* coorecto */