/* estilos generales */

/* navbar */
.navbar-brand {
    color: #fff;
    font-family: "Sanchez",
        serif;
    font-size: 1.6rem;
}

.navbar-brand:hover {
    color: rgba(255, 255, 255, 0.603);
}

.navbar {
    background-color: #1A2A40;
    font-family: "Roboto",
        sans-serif;
}

.botonCierre {
    background-color: inherit;
    border: none;
}

.iconoCierre {
    color: #fff;
    font-size: 1.3rem;
}

@media screen and (max-width: 991.5px) {
    .desaparecer {
        display: none;
    }
}

.nav-link {
    color: #fff;
    font-size: 1.1rem;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.603);
}

.nav-link:visited {
    color: #fff;
}


/*offcanvas*/
.offcanvas {
    background-color: #1A2A40;
}

.bi-three-dots-vertical {
    color: #fff;
}

.nav-boton {
    color: #fff;
    border: none;
}

.nav-boton i {
    font-size: 2.3rem;
}


/* hero */
.hero {
    background-image: url('../assets/fondoMontanas.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
}

.hero-container {
    margin: auto auto;
    font-family: "Sanchez",
        serif;
}

.hero__title {
    color: #fff;
    font-size: 5.4rem;
    margin-bottom: 0;
}

.hero p {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 200;
}

/* carousel */
.carousel-inner {
    margin: 0 auto;
    padding: 0 auto;
    width: 80vw;
}

.carousel-container {
    background: #1A2A40;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #1A2A40, #96A9B6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1A2A40, #96A9B6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.carousel-indicators button {
    width: 11px !important;
    height: 11px !important;
    border-radius: 50% ;
    border: 2px solid #fff !important;
    background-color: inherit !important;
}

.carousel-control-next-icon {
    z-index: 100;
}

.texto-carousel {
    background: #48738E;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #1C2F45, #48738E);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #48738E, #1C2F45);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: 90;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 25%;
    height: 100%;
    padding: 3rem 0 0 2rem;
}

.video-carousel {
    position: relative;
    height: 600px;
    width: 100vw;
    min-width: 500px;
    overflow: hidden;
}

.texto-carousel h4 {
    white-space: nowrap;
    color: #fff;
    font-weight: 200;
    font-family: "Urbanist",
        serif;
    font-size: 1rem;
}

.texto-carousel h3 {
    white-space: nowrap;
    color: #fff;
    font-size: 7rem;
}

.video-carousel video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 200px) and (max-width: 546px) {
    .hero {
        height: 90vh;
    }

    .carousel-inner {
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .carousel-control-next-icon {
        display: none;
    }

    .video-carousel {
        min-width: none;
    }

    .video-carousel video {
        width: 160vw;
        overflow: hidden;
    }

    .texto-carousel {
        padding: 3rem 1.7rem;
    }

    .texto-carousel h3 {
        font-size: 3.2rem;
        white-space: normal;
    }
  
}

@media (min-width: 546px) and (max-width: 700px) {
    .carousel-inner {
        width: 80vw;
        margin: 0 auto;
        padding: 0 auto;
        height: 100%;
    }

    /* .video-carousel {      
        height: 60vh;
    } */


    .texto-carousel h3 {
        font-size: 5rem;
        white-space: normal;
    }
}


@media (min-width: 700px) and (max-width: 822px) {

    .texto-carousel h3 {
        font-size: 5rem;
        white-space: normal;
    }
}

@media (min-width: 822px) and (max-width: 855px) {
    .texto-carousel h3 {
        font-size: 5rem;
    }
}


/* banner */
.banner {
    background-color: #45718C;
    color: #fff;
}

.banner h3 {
    font-weight: 400;
    font-size: 2.5rem;
}

@media (max-width: 500px) {
    .banner h3 {
        font-size: 2rem;
    }
}

/* footer */
footer {
    padding-top: 5rem;
    background-color: #1A2A40;
    color: #fff;
}

.footer-container {
    height: 100%;
    padding: 2.5rem 0;
    align-items: center;
    background-color: #45718C;
}

.footer-title {
    padding-left: 3.5rem;
    padding-bottom: 1rem;
}

.footer-title h4 {
    font-weight: 400;
    font-size: 1.7rem;
}

.footer-list {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-list li {
    padding: 1rem;
    width: 80%;
    margin: 0.5rem auto;
    margin-left: 2rem;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 300;
    background-color: #1A2A40;
    font-family: "Roboto",
        sans-serif;
}

.footer-list li a {
    color: #fff;
    text-decoration: none;
}

.footer-list li span {
    padding-right: 2px;
}

.footer-final h5 {
    font-size: 1rem;
    font-weight: 100;
}

hr {
    width: 45px;
    height: 6px;
    margin-left: 3.5rem;
    margin-top: 1rem;
    opacity: 30;
    background-color: rgba(255, 255, 255, .55);
    border: none;
}

.div-footer {
    height: 60vh;
    min-width: 500px;
}

.div-footer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.footer-container-final {
    padding: 3rem 0 .6rem;
}

@media (min-width: 360px) and (max-width: 500px) {
    .div-footer {
        min-width: 100%;
        text-align: center;
    }

    hr {
        margin: 0 auto 1rem;
    }

    .footer-title {
        padding: 0 0 2rem;
    }

    .footer-list {
        padding: 1rem;
    }

    .footer-list li {
        font-size: 1rem;
    }
}

@media (min-width: 500px) and (max-width: 999px) {
    .div-footer {
        height: 50vh;
        text-align: center;
    }

    .footer-container {
        padding: 1.5rem 0;
    }

    hr {
        margin: 1.5rem auto;
    }

    .footer-title {
        padding: 0 0 2rem;
    }
}


/* pagina permiso precario */
.documento-pdf-container {
    background-color: #000;
}

.documento-pdf {
    width: 100vw;
    height: 700px;
}